[submodule "modules/jtframe"]
	path = modules/jtframe
	url  = https://github.com/jotego/jtframe 
[submodule "jt51"]
	path = modules/jt51
	url = https://github.com/jotego/jt51
[submodule "modules/jt5205"]
	path = modules/jt5205
	url = https://github.com/jotego/jt5205
[submodule "modules/jt6295"]
	path = modules/jt6295
	url = https://github.com/jotego/jt6295.git
